html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}


h1 {
  font-size: 2vw;
  font-family: 'Helvetica', sans-serif;
}

.fade_up {
    color: black;
    text-align: center;
    font-size: 4em;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    animation-name: fade_up;
	  animation-duration: 1s;
	  animation-timing-function: ease-out; 
}

.fade_down {
    position: absolute;
    width: 70%;
    text-align: justify;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 6%; 
    width: 30%;
    min-width: 500px;
    font-size: 1.3em;

    animation-name: fade_down;
	  animation-duration: 0.75s;
	  animation-timing-function: ease-out; 
}

@keyframes fade_up {
    from { opacity: 0;
        margin-top: -8%;
    }
    to 	{ opacity: 1;
         margin-top: 0%;
    }
}

@keyframes fade_down {
    from { opacity: 0;
            bottom: 3%;
            }
    to 	{ opacity: 1;
            bottom: 6%;
    }
}



.some-page-wrapper {
    display: flex;
	  padding-top: 15%;
	  opacity: 0;
    transition: 1s;
    margin-bottom: -50vw;;
  }
  
  .some-page-wrapper.show {
	padding-top: 5%;
	opacity: 1;
	transition: 1s;
}
  
  .row {
    text-align: center;
    display: flex;
    top: 50%;
    transform: translate(0, 50%);
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .row2 {
    text-align: center;
    display: flex;
    top: 50%;
    transform: translate(0, 50%);
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    color: white;
    text-align: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .tl_1 {
    position: absolute;
    text-align: center;
    color: white;
    margin-left: 5%;
    z-index: 30;
    font-size: 7vw;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    background-image: url(https://media.giphy.com/media/3o7TKoYwWhxyeh8kvu/giphy.gif);
	  background-size: cover;
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
  }

  .parallax {
    width: 100%;
   min-height: 1000px;
    background: transparent;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-weight: 500;
}

.textWithBlurredBg{
  display:inline-block;
  position:relative;
  transition:.3s;
  margin:4px;
}

.textWithBlurredBg img{
  width: 90%;
  margin: 0 auto;
  margin-top: -25%;
  transition:.3s;
  border-radius:5px;
}

.textWithBlurredBg:hover img{
  filter:blur(2px) brightness(60%);
}
 
.textWithBlurredBg :not(img){
  position:absolute;
  z-index:1;
  top:30%;
  width:100%;
  text-align:center;
  color:#fff;
  opacity:0;
  transition:.3s;
}

.textWithBlurredBg h3{
  top:50%
}

.textWithBlurredBg:hover :not(img){
  opacity:1;
}

.content-wrapper {
  width: 100%;
  background: #0f0f0f;
  left: 0;
  top: 0;
}

.tl_2 {
  text-align: left;
  margin-left: 5%;
  z-index: 30;
  font-size: 7vw;
  font-family: 'Helvetica', sans-serif;
  font-weight: 900;
  background-image: url(https://media.giphy.com/media/3o7TKoYwWhxyeh8kvu/giphy.gif);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .content2 {
  position: sticky;
  top: 0;
  opacity: 0;
  transition: 1s;
  margin-bottom: 10%;
  }

  .content2.show {
  opacity: 1;
  transition: 1s;
  }

  .content {
    position: static;
    opacity: 0;
    transition: 1s;
  }
  
  .content.show {
    opacity: 1;
    transition: 1s;
  }

  .columns_text {
    font-weight: 900;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 4%;
    margin-top: 7%;
  }
